@import "variables";

/********************** VENDOR **************************/
@import "~normalize-scss/sass/normalize";
@import "~simple-line-icons/scss/simple-line-icons";
@import "~linelay/defaultBuild";
@import "~simpli-web-sdk/scss/main";
@import "~simpli-web-sdk/scss/utils";
/********************************************************/

@import "base";
@import "font";
@import "helper";
@import "palette";

@import "components/sidebar";
@import "components/navbar";

.header {
  color: white;

  background: darken($tertiary-color, 5);
  box-shadow: 2px 4px 20px -4px rgba(0, 0, 0, .4);
  z-index: 1;

  h1 {
    color: white;
  }
}

.form-group {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: #{$padding-base * 2};

  &.required {
    .control-label:after, .multiselect-label:after {
      content: "*";
      color: red;
    }
  }

  .control-label {
    margin-bottom: 3px;
  }

  .form-control {
    width: 100%;
  }

  .multiselect-label {
    font-weight: bold;
  }
}

.elevated {
  @extend .pal-white-90.bg;
  @extend .pal-black-10.box-shadow.deep-15;

  border-radius: $radius-base;
  border-left: 4px solid $primary-color;
  border-right: 4px solid $primary-color;

  &.intense {
    @extend .pal-black-30.box-shadow.deep-15;
  }

  &.square {
    border-radius: 0;
  }

  &.padded {
    padding: #{$padding-base * 2};

    @media screen and (max-width: $display-small) {
      padding: #{$padding-base};
    }

    &.wide {
      padding: #{$padding-base * 3};

      @media screen and (max-width: $display-medium) {
        padding: #{$padding-base * 2};
      }

      @media screen and (max-width: $display-small) {
        padding: #{$padding-base};
      }
    }
  }
}

.label {
  @extend .pal-primary.bg;
  //@extend .pal-white-30.border;

  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 4px 8px;
  margin: 0 3px;

  font-size: 16px;

  &.input {
    margin-top: 18px;
    margin-bottom: #{$padding-base * 2};
  }

  &.big {
    height: 41px;

    .label-prefix {
      height: 41px;
      line-height: 32px;
    }

    .label-postfix {
      height: 35px;
      line-height: 26px;
    }
  }

  &.primary {
    @extend .pal-primary.bg;
    @extend .pal-black-50.text;

    .label-prefix, .label-postfix {
      @extend .pal-primary.bg.lighten;
    }
  }

  &.secondary {
    @extend .pal-secondary.bg;
    @extend .pal-black-50.text;

    .label-prefix, .label-postfix {
      @extend .pal-secondary.bg.lighten;
    }
  }

  &.success {
    @extend .pal-success.bg;
    @extend .pal-white-50.text;

    .label-prefix, .label-postfix {
      @extend .pal-success.bg.lighten;
      @extend .pal-black-50.text;
    }
  }

  &.warning {
    @extend .pal-warning.bg;
    @extend .pal-black-50.text;
    //@extend .pal-black-30.border;

    .label-prefix, .label-postfix {
      @extend .pal-warning.bg.lighten;
      //@extend .pal-black-30.border;
    }
  }

  &.danger {
    @extend .pal-danger.bg;
    @extend .pal-white-50.text;

    .label-prefix, .label-postfix {
      @extend .pal-danger.bg.lighten;
      @extend .pal-black-50.text;
    }
  }

  .label-prefix, .label-postfix {
    @extend .pal-primary.bg.lighten;
    //@extend .pal-white-30.border;

    font-weight: bold;
    padding: 4px 8px;
  }

  .label-prefix {
    //@extend .pal-white-30.border.right;

    border-radius: 4px 0 0 4px;
    margin: -4px 8px -4px -8px;
  }

  .label-postfix {
    @extend .pal-white-30.border.left;

    border-radius: 0 4px 4px 0;
    margin: -4px -8px -4px 8px;
  }
}
